@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .page {
    @apply max-container w-full;
  }

  .page-style {
    @apply page max-w-[900px] py-20 pt-24 px-4 sm:px-6 md:px-8 text-slate-900;
  }

  .card-reasons {
    @apply bg-slate-100 rounded-lg h-auto text-slate-700 flex justify-center items-center;
  }

  .section-title {
    font-family: 'Teko', Inter, sans-serif;
  }


  .page-title {
    @apply text-2xl font-bold my-4 text-slate-900;
  }

  .page-subtitle {
    @apply font-semibold text-xl my-2 text-slate-800;
  }

  .page-paragraph {
    @apply text-base my-2 text-slate-700;
  }
}

@layer utilities {
  .btn-shimmer {
    @apply inline-flex justify-center whitespace-nowrap rounded-lg px-3.5 py-2.5 text-sm font-medium text-slate-200 dark:text-slate-800 bg-gradient-to-r from-slate-800 to-slate-700 dark:from-slate-200 dark:to-slate-100 shadow focus:outline-none focus:ring focus:ring-slate-500/50 focus-visible:outline-none focus-visible:ring focus-visible:ring-slate-500/50 relative overflow-hidden animate-shimmer;
  }
}

html {
  scroll-behavior: smooth;
}

.dialog {
  width: 100%;
  max-width: 620px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 1.5rem;

  border: 1px solid #9999993f;
  border-radius: .6rem;
}

.dialog::backdrop {
  background: rgba(74, 62, 89, 0.1);
}
